
.bg{
    background-image: url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83fb3a6948e1f05b20527f_nathan-dumlao-pLoMDKtl-JY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}