.bg{
    background-image: url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83f98bae1ad80129fcd7e5_wu-jianxiong-UniC8xhlzaE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* .triangle{
    border-bottom: 100px solid #ffff;
    border-right:50px solid transparent;
    border:50px solid transparent;
} */