
.card{
    background-image: url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83fe3910db4fde2e69f396_christiann-koepke-dQyS2pMYtok-unsplash%20(1).jpg");
    background-repeat: no-repeat;
    background-size: 270%;
    background-position-x:69% ;
    background-position-y:80% ;

   
}